body{
  background: url("https://www.sciencenewsforstudents.org/sites/default/files/scald-image/860_main_ISEF_pills.png");
  background-size: cover;
  font-family: 'Bungee', cursive;
  text-align: right;
  color: white;
  font-family: 'Bungee', cursive;
  cursor:pointer;
  cursor: text;
  cursor: auto;
  }
ul {
  padding: 0px 10px 0px 10px;
  margin: 0px 50px 0px 0px;
  }
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  }
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
y {
  margin: 20px 160px 0px 0px;
  font-size: 150px;
  font-family: 'Grand Hotel', cursive;
}
x {color: red;}
h2{
  color: white;
  font-size: 40px;
  margin: 0px 190px 0px 0px;
  }

p1{
  color: white;
  margin:10px 125px 0px 0px;
  font-size: 25px;
  font-weight: bold;
}
p2{
  color: white;
  font-size: 20px;
  margin:10px 15px 0px 800px;
  display:inline-block;
  text-align: justify;
}
linkstopages{
  margin:0px 150px 0px 0px;
  font-family: serif;
  display: inline-block;
}
.social-icons li img {
  width:40px;
  height:40px;
  margin: 0px 0px 0px 800px;
  display:inline-grid;
}
.column {
  float:left;
  width: 2.33%;
  margin: 0px 0px 20px 0px;
  margin-right: 50px;
}
.row {
  display: flex;
  margin: 0px 0px 0px 300px;
}
